Options -Indexes
RewriteEngine On
RewriteBase /

# Route /prezinta-un-curs etc to PHP files
RewriteRule ^prezinta-un-curs/?$ /prezinta-un-curs.php [L]
# Redirect old URL to new
RewriteRule ^sustine-un-curs/?$ /prezinta-un-curs [R=301,L]
RewriteRule ^gazduieste-un-curs/?$ /gazduieste-un-curs.php [L]
RewriteRule ^propune-un-parteneriat/?$ /propune-un-parteneriat.php [L]
RewriteRule ^voteaza-cursuri/?$ /voteaza-cursuri.php [L]

# Block access to data directory
RewriteRule ^data/ - [F,L]
RewriteRule ^debug-soldout\.php$ - [L]
 
